.gifs-form {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--bgcolor);
}

.gifs-form.top input {
  max-width: 1200px;
}

.gifs-form input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem 1rem;
  border: 3px solid transparent;
  outline: none;
  font-size: 1.1rem;
  transition: 0.5s;
}

.gifs-form input:focus {
  border-color: var(--reactcolor);
  box-shadow: 0 0 10px var(--reactcolorA), 0 0 20px var(--reactcolorA),
    0 0 40px var(--reactcolorA);
}
.rating,
.rating-wrapper {
  background-color: var(--reactcolor);
  color: var(--bgcolor);
}

.rating {
  position: relative;
  padding: 0.5rem 1rem;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
}

.rating-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  transform-origin: top;
  transform: scale(0);
  transition: 0.5s;
}

.rating:hover .rating-wrapper {
  transform: scale(1);
}

.rating-option {
  display: block;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  color: var(--bgcolorA);
  cursor: pointer;
  text-align: left;
}

.rating-option:hover {
  color: var(--bgcolor);
  font-weight: 600;
}
