.gifs-form {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  background-color: var(--bgcolor);
  grid-template-columns: 3fr 1fr;
}


.logo {
  grid-column-start: span 2;
  margin: 0;
  text-align: center;
}

.logo a {
  text-align: center;
  text-decoration: none;
  color: var(--reactcolor);
}

.logo span {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--reactcolor);
}
.logo span:nth-child(4n + 1) {
  color: springgreen;
}
.logo span:nth-child(4n + 2) {
  color: magenta;
}
.logo span:nth-child(4n + 3) {
  color: gold;
}

.gifs-form input {
  padding: 1rem;
  border-radius: .5rem;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  outline: none;
  background-color: var(--bgcolorA);
  border: 1px solid var(--reactcolor);
  color: white;
}

.gifs-form input:focus {
  outline: var(--reactcolorA) solid 2px;
}

.rating {
  position: relative;
  padding: 1rem;
  background: white;
  border-radius: .5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  min-width: 96px;
  cursor: pointer;
}

.rating-wrapper {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: white;
  min-width: 100%;
  right: 0;
  padding: .5rem 0;
  border-radius: .5rem;
  display: grid;
  transform-origin: top;
  transform: scale(1,0);
  transition-duration: .3s;
}

.rating:hover .rating-wrapper {
  transform: scale(1,1);
}

.rating-option {
  padding: .5rem 1rem;
}

.rating-option:hover {
  background-color: #0001
}

@media screen and (min-width: 640px) {
  .gifs-form {
    grid-template-columns: auto 1fr auto;
  }

  .logo {
    width: auto;
    grid-column-start: auto;
  }
}