.gifs-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  grid-template-rows: masonry;
  grid-auto-rows: 200px;
  grid-auto-flow: row dense;
}

.gif {
  --card-color: var(--reactcolor);
  --card-text: var(--bgcolor);
  width: 100%;
  position: relative;
  color: var(--reactcolor);
  border: 5px solid transparent;
  border-radius: .5rem;
  overflow: hidden;
}

.gif:nth-child(4n + 1) {
  --card-color: springgreen;
}
.gif:nth-child(4n + 2) {
  --card-color: magenta;
  --card-text: #fff;
}
.gif:nth-child(4n + 3) {
  --card-color: gold;
}

.gif img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.gif h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 1.5rem 0.5rem 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
  color: white;
  background-image: linear-gradient(to top, #0004, transparent);
}

.gif:hover {
  border-color: var(--card-color);
}
.gif:hover h3 {
  padding-top: .5rem;
  background-color: var(--card-color);
  background-image: none;
  color: var(--card-text, --bgcolor);
}
.gif .ball {
  background-color: var(--card-color);
}

.title_preview,
.gif_preview {
  text-align: center;
  text-transform: capitalize;
}

.gif_preview {
  margin-top: 2rem;
}

.title_preview {
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media screen and (min-width: 500px) {
  .gif:nth-child(4n) {
    grid-column-start: span 2;
  }
}
